@import url("https://fonts.googleapis.com/css?family=Archivo");
body {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  font-family: 'Archivo', sans-serif; 
  margin:0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar {
  background-color: #1E2C4C; }

#conteiner {
  min-height: 100%; }

.page-footer {
  background-color: #474D53;
  color: #ffffff;
  
 }
.div-body {
  flex: 1;
}
.container {
  margin-top: 50px; }



.img-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.btn-incident {
  display: flex;
  justify-content: space-between; }

.img-index {
  width: 400px;
  height: auto;
  display: block;
  margin: auto; }


.img-edit {
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-top: 20px; }

.map-container {
  display: flex; }

.btn-edit {
  padding-top: 50px; }

