@import url('https://fonts.googleapis.com/css?family=Archivo');

body {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  font-family: 'Archivo', sans-serif;
}

.navbar {
  background-color: #06213C ;
  color: #ffffff;
}

.page-footer {
  background-color: #474D53;
  color: #ffffff;
}

.container{
  margin-top: 50px;
}

  
body, html {
  height: 95%;
  
}

.menu-lat{
  background-color: #21C28A;
}
span{
  color: #06213C
}
.a-nav{
  color: black
}
.img-profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.btn-incident{
  display: flex; 
  justify-content: space-between;
  }
.img-index{
  width: 400px;
  height: auto;
  display:block;
  margin:auto;

}
.nav-side:hover {
  color: #fff;
  background: none;
}
.navside{
  padding: 5px;
 }




