<h2>Cambia tu foto de perfil</h2>
<form action="/changeImage" method="post" enctype="multipart/form-data">
  <label>Foto de Perfil</label>
  <input type="file" name="photo">

  <input type="submit" value="SAVE">
</form>