<div class="offset-sm-3">
  <div> 
    <h2>Generar Reporte</h2>
  </div>
  <br>
  <form action="/newIncident" method="post" class="form-inlin justify-content-center">
    <div class="form-group row">
      <label for="delegacion" class="col-3 col-form-label" >Alcaldía</label>
        <div class="col-9">
          <select name="delegacion" id="delegacion">
            <option value="null">Selecciona una delegacion</option>
            <option value="alvaro">Álvaro Obregón</option>
            <option value="azcapotzalco">Azcapotzalco</option>
            <option value="benito">Benito Juárez</option>
            <option value="coyoacan">Coyoacán</option>
            <option value="cuajimalpa">Cuajimapla de Morelos</option>
            <option value="cuahutemoc">Cuauhtémoc</option>
            <option value="gustavo">Gustavo A. Madero</option>
            <option value="iztacalco">Iztacalco</option>
            <option value="iztapalapa">Iztapalapa</option>
            <option value="magdalena">Magdalena Contreras</option>
            <option value="miguel">Miguel Hidalgo</option>
            <option value="milpa">Milpa Alta</option>
            <option value="tlahuac">Tláhuac</option>
            <option value="tlalpan">Tlalpan</option>
            <option value="venustiano">Venustiano Carranza</option>
            <option value="xochimilco">Xochimilco</option>
          </select>
        </div>
    </div>

    <div class="form-group row">
      <label for="colonia" class="col-3 col-form-label" >Colonia</label>
        <div class="col-9">
          <select name="colonia" id="colonia">
          </select>
        </div>
    </div>

  <div class="form-group row">
    <label for="type" class="col-3 col-form-label">Tipo de Delito</label>
      <div class="col-9">
        <select name="type" id="type">
          <option value="null">Selecciona un tipo de delito</option>
          <option value="Robo a transeúnte con violencia">Robo a transeúnte con violencia</option>
          <option value="Robo a transeúnte sin violencia">Robo a trenseúnte sin violencia</option>
          <option value="Robo a negocio con violencia">Robo a negocio con violencia</option>
          <option value="Robo a negocio sin violencia">Robo a negocio sin violencia</option>
          <option value="Robo de automóvil con violencia">Robo de automóvil con violencia</option>
          <option value="Robo de automóvil sin violencia">Robo de automóvil sin violencia</option>
          <option value="Robo a casa habitación con violencia">Robo a casa habitación con violencia</option>
          <option value="Robo a casa habitación sin violencia">Robo a casa habitación sin violencia</option>
          <option value="Daño a propiedad ajena">Daño a propiedad ajena</option>
          <option value="Lesiones culposas">Lesiones culposas</option>
          <option value="Vandalismo">Vandalismo</option>
        </select>
      </div>
  </div>
  <div class="form-group row">
    <label for="oficialNumber" class="col-3 col-form-label"  >Numero de Denuncia</label>
      <div class ="col-9">
        <input type="text" name="oficialNumber" value="" placeholder=" (opcional)">
      </div>
  </div>
  <div class="form-group row">
    <label for="date" class="col-3 col-form-label">Fecha de Delito</label>
        <div class ="col-9">
          <input type="datetime-local" name="date" value="" required>
       </div>
  </div>
  <div class="form-group row">
    <label for="additionalDetails" class="col-3 col-form-label">Descripción</label>
      <div class ="col-9">
        <textarea name="additionalDetails" id="" cols="30" rows="10" placeholder="Descripción" maxlength="1000" required></textarea>
      </div>
  </div>


  {{#if message}}
    <div class="error-message">
      {{message}}
    </div>
  {{/if}}
  <br>
  <div class="form-group row col-8 btn-incident">
    <input type="submit" value="Enviar Incidente" class="btn btn-success">
    <a href="/" class="btn btn-danger" >Cancelar</a>
   

  </div>
  
    
 

</form>
</div>

<script>
  function asignarColonia(event){
  let coloniasCoyoacan = [
    'Barrio de Niño Jesús',
'Barrio La Concepción',
'Barrio Oxtopulco Universidad',
'Barrio San Lucas',
'Barrio Santa Catarina',
'Ciudad Universitaria'
  ];

  let coloniasGustavo = [
    "Barrio Candelaria Ticomán",
"Barrio Guadalupe Ticomán"
  ]




  switch(true) {
    case event.target.value === "gustavo":
      document.querySelector("#colonia").innerHTML  = coloniasGustavo.reduce((acc, current) => {
          return acc += `<option value="${current}">${current}</option>`;
      },"");
      break;
    case event.target.value === "coyoacan":
      document.querySelector("#colonia").innerHTML = coloniasCoyoacan.reduce((acc, current) => {
        return acc += `<option value="${current}">${current}</option>`
      }, ""); 
    break;
  }
  

} 

  document.addEventListener('DOMContentLoaded', () => {

  console.log('IronGenerator JS imported successfully!');
  document.querySelector("#delegacion").onchange=asignarColonia;

}, false);

</script>