
<form id="form-container" action="/changeProfile" method="post">
  <label for="username">Nombre de usuario</label>
  <input type="text" name="username" value="{{user.username}}" placeholder="Nombre de usuario" id="username">

  <label for="password">Mail</label>
  <input type="text" name="mail" placeholder="Correo Electrónico" value="{{user.mail}}" id="mail">
  <br>
  <br>
  

  <div class="form-group row">
    <img class="img-edit"src="{{user.imgPath}}" alt="Profile Picture">
  </div>
  {{#if message}}
  <div class="error-message">
    {{message}}
  </div>
  {{/if}}
  <br>

  <a href="/changeImage"class="btn btn-primary"> Cambia tu imagen </a>
  <button class="btn btn-primary" type="submit" name="button">Cambia tu información</button>
 
  
</div>